
body{
	background: linear-gradient(110deg,
	rgb(253, 205, 59) 60%, rgb(0, 0, 0) 60%);
}
input{
	  font-size: 20px;
}

.classForm{
    max-width: 1200px;
}
.userForm{
    max-width: 1200px;
}
#form {
    max-width: 1200px;
    align-self: auto;;
    min-width: 50px;
    width: 100%;
    margin: 1px auto;
    border: 5px solid green;
    background-color: aliceblue;
    border-radius: 25px;
    padding: 75px;
    font-size: 20px;
    font-weight: bold;
}


table{
    width:1200px;
    color: black;
    font-size: 20px;
  
}
table, th, td{

    background-color: rgb(220, 236, 250);
    border: 1px solid blue ;
    padding: 3px;
    text-align: center;
}

#DragonText{
    color: red;
    position: fixed;
    bottom: 0;
    width:100%;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
}
a:link, a:visited {
    background-color:rgb(131, 131, 197);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
  a:hover, a:active {
    background-color: red;
  }

#home{
    max-width: 1170px ;
    min-width: 100px;
    width:100%;
    margin: 1px auto;
    border: 5px solid green;
    background-color: aliceblue;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
  }

  .out{
    color: rebeccapurple;
    position: fixed;
    bottom: 0;
    width:100%;
    text-align: left;
    font-style: italic;
    font-size: 20px;
    font-family: serif;
  }
