<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Homepage</title>
  </head>
  <body>
    <h1>Home</h1>
    <Form>
        Username:<input type="text" name="username"><br>
        Password:<input type="text" name="password"><br>
        <input type="submit" name="submit">
        <br>
        <a href="registration">Registration</a><br>
        <a href="users">Users</a><br>
        <a href="gifts">Gifts</a><br>
    </Form>
  </body>
</html>