{% load staticfiles %}
        <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TAManagement</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <header>
                {% if request.session.current_user %}
                    <li >
                        <a href='/logout'>logout</a>
                    </li>
                {% else %}
                    <li><a href='/login' rel="nofollow">Login</a></li>
                {% endif %}

    </header>
    {% if request.session.current_user %}
                <ul>
                    {% for cmd in cmds %}
                        <li>
                            <a href='{{ cmd.cmdUrl }}'>
                                <span>{{ cmd.cmdTxt }}</span>
                            </a>
                        </li>
                    {% endfor %}

                </ul>
    {% endif %}
    {% block content %}{% endblock content %}
</body>
</html>