{% extends "base.html" %}
{% block content %}
  <form id="login" method="post" action="/">
  {% csrf_token %}
      <label1 class="label1">
        Username: <input class="input" type="text" name="command3"><br/>
      </label1>
      <br>
      <label2 class="label2">
          Password : <input  class="input" type="text" name="command2"><br/>
      </label2>
      <br>
      <label3 class="label3">
          <input  type="submit">
      </label3>
  </form>
    <p> The Red Dragons</p>
{% endblock content %}