{% extends "base.html" %}
{% block content %}
<table>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Dates</th>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.location }}</td>
                <td>{{ course.startTime }}</td>
                <td>{{ course.endTime }}</td>
                <td>{{ course.dates }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}