{% extends "base.html" %}

{% block content %}
{% if request.session.current_user %}
<form id="form" class="classForm">
    <h3>List of courses</h3>

    <table border="1px solid black">
        <tr>
            <th>Course Name </th>
            <th>Section </th>
            <th>Location </th>
            <th>Start time </th>
            <th>End time </th>
            <th>Dates </th>
            <th>Instructor</th>
            <th>TAs</th>
            {% if request.session.current_role == 3  %}
            <th colspan="3">Modify</th>
            {% endif %}
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.section }}</td>
                <td>{{ course.location }}</td>
                <td>{{ course.startTime }}</td>
                <td>{{ course.endTime }}</td>
                <td>{{ course.dates }}</td>
                <td>{{ course.instructor }}</td>
                <td>
                {% for u in course.graderTAs.all %}
                     {{ u }},
                {% endfor %}
                </td>
                {% if request.session.current_role == 3  %}
                    <td><a href='/editCourse?courseName={{ course.name }}&courseSection={{ course.section }}'>Edit</a></td>
                    <td><a href='/deleteCourse?courseName={{ course.name }}&courseSection={{ course.section }}'onclick="return confirm('Do You Want to Delete the Course?')">Delete</a></td>
                    <td><a href='/viewLabs?labCourse={{ course.name }}'>View Labs</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    </table>
</form>


{% endif %}

{% endblock content %}