{% extends "base.html" %}
{% block content %}
<form id="form" class="userForm" >
<table id="userTable">
        <tr>
            <th>Remove</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone #</th>
            <th>Address</th>
            <th>Office Location</th>
            <th>Office Hours</th>
            <th>Office Hour Dates</th>
            <th>Resume</th>
        </tr>
        {% for user in users %}
            <tr>
                <td><input type="radio" name="select"></td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.officeLocation }}</td>
                <td>{{ user.officeHours }}</td>
                <td>{{ user.officeHoursDates }}</td>
                <td>{{ user.resume }}</td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <input class="input"type="submit" value="Remove User">
</form>

{% endblock content %}